HOST=0.0.0.0
PORT=1337
APP_KEYS=change_me_1,change_me_2
API_TOKEN_SALT=change_me
ADMIN_JWT_SECRET=change_me
TRANSFER_TOKEN_SALT=change_me
JWT_SECRET=change_me

DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=techdrive_db
DATABASE_USERNAME=techdrive
DATABASE_PASSWORD=change_me
DATABASE_SSL=false
